<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件注册-局部注册</title>
</head>
<body>

    <div id="app">
        <!-- 3. 由于进行了局部的注册，所以 my-component只能在#app下使用-->
        <my-component></my-component>
        <my-component></my-component>
    </div>
    <div id="app2">
        <my-component></my-component>
    </div>
</body>

<script src="../../js/vue.js"></script>
<script>
    // 1. 创建一个组件构造器
    var myComponent = Vue.extend({
        template:"<div><div>This is my first component!</div><div>This is my first component!</div></div>"
    });
    new Vue({
        el:"#app",
        components:{
            // 将 my-component 组件注册到Vue实例下， 该组件只能在 #app 对应的实例下使用
            "my-component":myComponent
        }
    });
</script>

</html>