<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用Script标签分离组件</title>
</head>
<body>

    <div id="app">
        <my-component></my-component>
    </div>

    <!--将模板中的html代码 与 javascript 进行分离-->
    <script type="text/x-template" id="myComponent">
        <div>This is a component!</div>
    </script>

</body>
<script src="../../js/vue.js"></script>
<script>
    Vue.component("my-component",{
        template:"#myComponent"
    });
    new Vue({
        el:"#app"
    });
</script>
</html>